@model IEnumerable<Cinematheque.Data.Genre>

@{
    ViewBag.Title = "Search";
}

<h2>Found genres</h2>

<label for="search-gen">Enter genre's name: </label>
@using (Html.BeginForm("Search", "Genres", FormMethod.Get, new { name = "search-gen" }))
{
    <input type="text" title="Find genre" name="q" />
    <input type="submit" value="Search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Films", "Genres", new { id = item.ID }, new { @class = "navbar-brand" })
            </td>
        </tr>
    }

</table>
