
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>This is a Cinematheque Web Site made by Olena Khilchuk of IT-91</p>
<p>Cinematheque is a storage for films. 
    Here you can find information about different films and their properties.
    Also you can find information about actors, directors and other stuff.</p>
